.row-header{
	margin: 0px auto;
	padding: 0px auto;
}
.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #000000;
	color: floralwhite;
}
.container{
	padding: 0px 0px 0px 0px;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}
.row-content-strech{
	margin: 0px auto;
	padding: 50px 0px 50px d0px;
	min-height: 200px;
}
.footer{
	background-color: #FF8C00;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.address{
	font-size: 80%;
	margin: 0px;
}
.body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}
.navbar-dark{
	background-color: #D90000;
}
.btn{
	background-color: #D90000;
	border-color: #000000;
}
.card-header{
	background-color: #D90000;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}